@charset "utf-8";
/* css 변수 선언 */
:root {
    --base-text-dark: #333333;
    --base-text-white: #f1f1f1;
    --base-text-point: rgb(148, 17, 17);
    --base-bg-white: #fff;
    --base-bg-dark: #262626;
    --main-color1: #92C120;
    --main-color2: #F18F01;
    --main-color3: #014EA0;
    --base-font-size: 16px;
    --bar-bg: #F18F01;
}
body {
    font: 16px/1.5 "Noto Sans KR";
    color: var(--base-text-dark);
    /* css 변수 사용 : var(변수명) */
}
a, a:link {
    color: inherit;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.d-none {
    display: none;
}

section {
    margin: 0 1rem
}

@media screen and (max-width: 480px){
    html {
        height: 100vh; /* 또는 100% , vh : viewport height */
    }
    body {
        background: linear-gradient(to bottom, #fff, #EEF5FF)        
    }
    .header-top {
        background: var(--bar-bg);
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .top-wrap {
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding:0 5%;
        align-items: center;
    }
    .top-wrap > li {
        height: 30px;
        color: var(--base-text-white);
        font-size: 16px;
    }
    .logo {
        width: 250px;
        height: 160px;
        /* margin: 100px auto; */
        margin: 100px auto 30px;
    }
    .btns {
        display: flex;
        flex-direction: column; /* 상,하 배치 */
        width: 90vw;
        margin: 0 auto;
    }
    button {
        height: 75px;
        color: white;
        font-size: 20px;
        border: 0;
        border-radius: 1rem;
        margin:0 0 2rem 0
    }
    #make_num5 {
        background: var(--main-color3) url("../images/x5.png") no-repeat 3% center;
    }
    #make_num1 {
        background: var(--main-color3) url("../images/x1.png") no-repeat 3% center;
    }
    footer {
        width: 100%;
        position: fixed;
        height: 40px;
        bottom: 0;
        left: 0;
    }
    .links {
        display: flex;
        padding: 0 5vw;
        box-sizing: border-box;
        justify-content: space-between;        
    }
    /* ------- side pannel -------- */
    /* .header-wrap 높이 50px : 로고, 버거단추 있는곳 */
    #sidePannel {
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top:50px; /* top에서 반대방향으로 50px 이동 */
        left: 0;
        background: rgba(0,0,0,.5)
    }
    #closeSide {
        background: var(--point-color, #B86D00); /* 대체 컬러 */
        color: var(--base-text-white);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: absolute;
        right:0;
        top: -50px; /* 더 위로 올라가야..현재위치 50px */
    }
    .pannel-overlay {
        background: var(--base-bg-dark);
        width: 50%;
        height: 100%;
        margin:0 0 0 50%;
        overflow: hidden;
    }
    .pannel-overlay nav {
        color: var(--base-text-white);
        padding: 0 20%
    }
    #snb > li {
        margin: 1rem 0;
        position: relative
    }
    #snb > li::after {
        content: "+";
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--base-bg-white);
        font-size: 14px;
    }
    #snb > li > a { /* 메뉴항목이 포함된 범위 전체 클릭가능 */
        display: block;
    }
    .icon-links {
        display: flex;
        justify-content: center;
        column-gap: .5rem;
    }

    /* ------- mobile section -------- */
    .section-title {
        text-align: center;
        font-size: 1.250em;
        margin: 0 0 1rem 0
    }
    /* ------- mobile section : login page -------- */
    #loginForm li, #registerForm li {
        position: relative;
        margin: 0 0 1rem 0
    }
    #loginForm li input, #registerForm li input {
        text-indent: 20%;
        border: 0
    }
    #loginForm li label, #registerForm li label {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: #898989;
    }
    #userId, #userPw, [type=submit] {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    }

    #loginForm li input[type=submit], #registerForm li input[type=submit] {
        background: var(--main-color3);
        color: var(--base-text-white);
        text-indent: 0;
        font-size: var(--base-font-size)
    }
    .sns-icons {
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        font-size: 3rem
    }
    
    /* ------- mobile section : register page -------- */
    #registerForm li #userSecurity {
        width: 70%;
        height: 50px;
        border-radius: 10px;
        text-indent: 30%;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    }
    #registerForm li #clickSecurity { /* a : inline element */
        display: inline-block;
        vertical-align: middle;
        line-height: 52px;
        border-radius: 10px;
        height: 52px;
        width: 27%;
        margin: 0 0 0 1%;        
        color: var(--base-text-white);
        background: var(--main-color1)
    }
    label[for=userPrivacy] {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden    
    }
    .warn {
        color: var(--base-text-point);
        position: absolute;
        right: 0;
    }
    /* ------- mobile section : customer page -------- */
    .icon-list {
        display: grid;
        margin:0 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem
        
        /* fraction : 비율(공간) */
    }
    .icon-list li {
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        min-height: 100px;
        border-radius: 10px;
    }
    .icon-list li:hover { /* 모바일에서는 tap */
        background: var(--main-color1);
        color: var(--base-text-white);        
    }
    .icon-list li a {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap:1rem;
        justify-content: center;
        align-items: center;
    }
}